*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
}

body {
    background: $background_color;
    color: $text_color;
}

.container {
    padding: 10px 5%;
}

.row_container {
    display: grid;
    gap: 2em;
}

img {
    // height: 100%;
    // width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $link_color;

    &:hover {
        color: $text_color;
    }
}

ul,
ol {
    list-style-position: inside;

    li {
        padding: 0.2em 0;
    }

    ul {
        padding: 0 1.8em 0;
    }
}

.title {
    font-weight: bold;
}

.fa-check-circle {
    color: $success;
}

.fa-times-circle {
    color: $danger;
}

@media screen and (min-width: 1024px) {
    .row_container {
        grid-template-columns: 2fr 1fr;
    }
}
