button {
    border-radius: 4px;
    border: none;
    background: $elements_background;
    color: $elements_color;
    padding: 8px 12px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 4px lighten($elements_background, 50);
        transition: 0.2s ease-in-out;
    }
}

.btn_danger {
    background: $danger;
}
