footer {
    background: darken($background_color, 15%);
    
    .container {
        padding: 2.8em 5%;

        section {
            margin: 0 0 1.5em;
        }

        .branding {
            .title {
                font-size: 1.5em;
                margin: 0.2em 0;
            }

            p {
                line-height: 1.5;
                margin: 0.5em 0;
            }

            .socials {
                display: flex;
                gap: 1em;
                margin: 1em 0;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }
    }

    .copyright {
        border-top: 1px solid $faded_line;
        text-align: center;
        padding: 12px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .container {
            display: grid;
            grid-template-columns: 30% 1fr 1fr 1fr;

            section {
                margin: 0;
            }

            .links {
                justify-self: center;
            }
        }
    }
}