.HomePage {
    section {
        margin: 0 0 8em;

        .section_header {
            margin: 0 0 2em;

            h2 {
                font-size: 1.6rem;
            }
        }

        .features_list {
            list-style-position: inside;
            list-style: none;

            li {
                &::before {
                    content: "\2713";
                    font-size: 1.2em;
                    margin: 0 0.4em 0 0;
                }
            }
        }
    }

    .Hero {
        $hero_height: 80dvh;
        height: $hero_height;
        width: 100dvw;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            display: grid;
            gap: 1em;
            align-items: center;

            .image {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .text {
                .title {
                    line-height: 1.2;
                    font-size: 2.4em;
                    margin: 0 0 0.5em;
                }

                .sub_title {
                    font-size: 1em;
                }
                
                .btns {
                    margin: 2.4em 0;
        
                    a {
                        background: #000;
                        color: #fff;
                        padding: 12px 24px;
                        font-weight: bold;
                        font-size: 1.2em;
                        border-radius: 8px;
                        transition: all 0.2s ease-in-out;
        
                        &:hover {
                            box-shadow: 2px 4px 8px #000;
                        }
                    }
                }
            }

        }
    }

    .About {
        .container {
            .content {
                display: grid;
                gap: 2em;

                .image {
                    text-align: center;
                    img {
                        border-radius: 8px;
                    }
                }

                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0.4em 2em;
                    padding: 16px 8px;
                }
            }
        }
    }

    .Pricing {
        .container {
            .content {
                display: grid;
                gap: 2em;

                .card {
                    padding: 20px 32px;
                    background: rgb(215, 245, 255);
                    border-radius: 8px;

                    .header {
                        p {
                            display: grid;
                            gap: 0.2em;
                            margin: 0 0 1em;

                            span {
                                &:first-of-type {
                                    font-weight: bold;
                                    font-size: 1.2em;
                                }

                                &:last-of-type {
                                    font-size: 1.12em;
                                }
                            }

                            .popular {
                                &::after {
                                    content: "popular";
                                    font-size: 0.72rem;
                                    margin: 0 0 0 0.4em;
                                    padding: 2px 8px 4px;
                                    background: purple;
                                    color: #fff;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .FAQs {
        .container {
            .content {
                details {
                    background: #fff;
                    border-radius: 8px;
                    padding: 8px 16px;
                    margin-bottom: 1rem;
                    border: 1px solid #ddd;
                    cursor: pointer;

                    summary {
                        font-weight: bold;
                        cursor: pointer;
                        padding: 16px 0;

                        &:hover {
                            color: #007bff;
                        }
                    }
                }
            }
        }
    }

    .CTA {
        .container {
            .title {
                font-size: 1.6rem;
            }

            p{
                margin: 0 0 1em;
            }

            button {
                padding: 12px 16px;
                border-radius: 8px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .HomePage {
        section {
            .section_header {
                text-align: center;
            }
        }

        .Hero {
            $hero_height: 90dvh;
            height: $hero_height;
            width: 100%;

            .container {
                grid-template-columns: 1fr 1fr;
                gap: 2em;
                padding-right: unset;

                .text {
                    .title {
                        font-size: 4em;
                    }
        
                    .sub_title {
                        font-size: 1.2em;
                    }
                }

                .image {
                    height: $hero_height;
                }
            }
        }

        .About {
            .container {
                .content {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        .Pricing {
            .container {
                .content {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }

        .FAQs {
            .container {
                details {
                    width: 80%;
                    margin: auto;
                }
            }
        }

        .CTA {
            .container {
                text-align: center;
            }
        }
    }
}