.MainApp {
    .app_content {
        margin-left: $aside_width;
        padding: 4px 16px;
        min-height: 100dvh;
        height: auto;

        .container {
            padding: 10px 16px;
        }

        .list_items {
            .items {
                display: grid;
                gap: 1em;

                .item {
                    background: $list_items_background;
                    border-radius: 8px;
                    padding: 12px;

                    .item_header {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 0.8em;

                        .details {
                            span {
                                &:first-of-type {
                                    font-weight: bold;
                                    margin: 0 0.4em 0 0;

                                    &:after {
                                        content: " .";
                                    }
                                }
                            }
                        }
                    }

                    .content {
                        p {
                            margin: 0 0 0.4em;
                        }
                    }
                }
            }
        }

        .system_nav {
            display: flex;
            gap: 1em;
            margin: 0.2em 0 0.4em;
            
            a {
                font-weight: bold;
            }

            a:not(:last-child),
            span:not(:last-child) {
                font-weight: bold;

                &::after {
                    content: " / ";
                    color: $text_color;
                    margin: 0 0 0 0.6em;
                }
            }
        }
    }
}

.Exams {
    table {
        margin: 0 0 1em;

        input[type="number"] {
            width: 50%;
        }

    }

    p.title {
        color: $link_color;
        font-size: 1.12em;
    }
}


.PrintReceipt {
    aside {
        display: none !important;
        width: 0;
    }

    .app_content {
        margin-left: 0;
    }
}

.Payments {
    .table {
        td {
            padding: 8px 4px;
        }
        
        form {
            display: grid;
            grid-template-columns: 1fr 1fr auto;
            gap: 1em;
            align-items: center;
            align-content: flex-start;

            .inputs {
                margin: 0;
            }

            button {
                background: $elements_background;
                color: $elements_color;
                font-weight: bold;
                padding: 6px 12px;
            }
        }
    }

    .fees_receipt {
        position: relative;

        .receipt_header {
            display: flex;
            justify-content: space-between;
            padding: 10px 0 1.5em;
            border-bottom: 2px solid grey;

            .title {
                font-size: 2.8em;
            }

            .details {
                p {
                    &:first-of-type {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
            }
        }

        .receipt_body {
            margin: 1.5em 0;

            p {
                span {
                    &:last-of-type {
                        font-weight: bold;
                    }
                }
            }
        }

        .gatepass_body {
            form {
                button {
                    margin: 1em 0;
                }
            }

            p {
                margin: 1.2em 0;
            }
        }

        .payment_details {
            margin: 2em 0;
            
            p {
                font-size: 1.2em;
            }
        }

        .image {
            position: absolute;
            right: 20px;
            bottom: -1.5em;
            transform: rotate(-25deg);

            img {
                object-fit: contain;
                width: 220px;
                height: 220px;
            }
        }
    }
}

.PrintLeaveout {
    .PrintableArea {
        height: 100dvh;

        .header {
            display: grid;
            grid-template-columns: 180px 1fr;
            align-items: center;
            gap: 1em;

            .text {
                .title {
                    font-size: 1.6em;
                    margin: 0 0 0.2em;
                }

                p:last-of-type {
                    font-size: 1.2em;
                }
            }
        }

        .body {
            margin: 0.4em 0;
            position:relative;

            .student_details {
                p {
                    display: grid;
                    grid-template-columns: 100px 1fr;
                    span {
                        &:first-of-type {
                            color: $faded_text;
                        }
                    }
                }
            }

            .content {
                margin: 2em 0 0;

                p {
                    margin: 0 0 0.4em;
                }
            }

            .image {
                position: absolute;
                margin-top: 0.8em;
                right: 30%;
                transform: rotate(-30deg);
            }

            button {
                margin: 2em 0;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .MainApp {
        aside {
            width: $aside_width;
        }

        .list_items {
            .items {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}
